.EventColumn {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.EventColumn--title {
	background: #253764;
	color: white;
	padding: 20px;
	margin: 0;
	margin-bottom: 20px;
}

.EventColumn--title span {
	font-size: 18px;
	letter-spacing: 0;
}

.EventColumn--empty {
	height: 300px;
	padding-bottom: 100px;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.EventColumn--empty__text {
	font-size: 16px;
	font-weight: bold;
}