.Event {
  margin-top: 20px;
  background-color: white;
  color: black;
}

.Event-title {
  color: #253764;
  text-transform: uppercase;
  letter-spacing: .05em;
}


.Event-host {
  color: #253764;
  font-weight: bold;
  font-size: 22px;
}

.Event-expand {
  color: #28aae1;
  text-decoration: underline;
  cursor: pointer;
}

.Event-description {
  white-space: pre-wrap;
}

.Event-tag {
  background-color: #28aae1;
  color: white;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.Event-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}

.Event-color {
  height: 20px;
}
.Event-contents {
  padding: 20px;
}