* {
  box-sizing: border-box;
}

.Title {
  color: orange;
}

.Event {
  margin-top: 10px;
  background-color: blue;
  color: white;
  padding: 20px;
}

.Button {
  
}

.Button-selected {
  background: orange;
}