* {
  box-sizing: border-box;
}

body {
  background: #f4f5f7;
  margin: 0;
}

.landing-page-container {
  width: 100%;
  height: 100vh;
}

.App--photographer {
  
}

.App--toggle-view {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-top: -10px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  z-index: 100;
  background: white;
}

.App--toggle-view__option {
  background: #253764;
  padding: 10px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
  user-select: none;
}

.App--toggle-view__option.active {
  opacity: 1;
}

.App--toggle-view__option-text {
  color: white;
  text-align: center;
}

.App--description {
  background: white;
  width: 100%;
  padding: 20px;
  margin-top: -100px;
  z-index: 50;
  position: relative;
}

.App--loading {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.App--searchbox {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  width: 100%;
  outline: none;
  border: 2px solid #28aae1;
  text-transform: uppercase;
  font-weight: bold;
  color: #253764;
}

.App--body {
  padding: 20px;
}

.EventGrid { 
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.EventGrid--divider {
  min-width: 20px;
  min-height: 20px;
}

.EventGrid--column {
  flex: 1;
}
