* {
  box-sizing: border-box;
}

body {
  background: #f4f5f7;
}
.Title {
  color: orange;
}

.Button {
  
}

.Button-selected {
  background: orange;
}

.EventGrid {
  padding: 20px;

  display: flex;
  flex-direction: row;
}

.EventGrid--column {
  margin: 10px;
  flex: 1;
}